<html>
    <head>
        <title> Vox Sentence Generator </title>
        <style>
        h1 {text-align:center;}
        p {text-align:center;}
        body {
            font-family: "Arial Black", Gadget, sans-serif;
            text-align: center;
        }
        </style>
    </head>

    <body>
        <h1> Vox Sentence Generator </h1>
        <form method="POST">
            <input name="text">
            <input type="submit" value="generate">
        </form>

        <h3> Generated Phrases: </h3>
        <p>
            {{ phrases }}
        </p>

    </body>
</html>
